button{
    margin: 1rem 1rem;
    cursor: pointer;
    background-color: transparent;
    border-radius: 1rem;
    transition: 0.5s;
}
button:hover{
    transition: 0.5s;
    box-shadow: 0px 0px 5px $hoverButton;
}
.icon{
    color: $neon_clr;
    border: $neon_clr 4px solid;
    padding: 0.25em 0.5em;
    text-shadow: 0 0 0.25rem $neon_clr;
    border-radius: 1rem;
    font-size: 2rem;
}
.timeButton{
    color: $neon_clr;
    border: $neon_clr 4px solid;
    padding: 0.25em 0.5em;
    text-shadow: 0 0 0.125em hsla(340,65%,100%,0.4), 0 0 0.5em $neon_clr;
    box-shadow: inset 0 0 0.5em 0 $neon_clr, 0 0 0.5em 0 $neon_clr;
    font-size: 2rem;
    font-weight: bold;
    position: relative;
}
.timeButton::before{
    content: '';
    position: absolute;
    background: $neon_clr;
    top: 120%;
    left: 0;
    width: 100%;
    height: 100%;
    transform: perspective(0.5rem) rotateX(45deg) scale(0.7, 0.25);
    filter: blur(3rem);
    opacity: 0.7;
}