// Phone
@media (max-width: 500px) {
    // button
    .button{
        flex-flow: wrap;
    }
    .time{
        flex-flow: wrap;
    }
}
@media (max-width: 403px) {
    // button
    .button_1{
        padding-bottom: 1rem;
    }
    .button_2{
        padding-top: 1rem;
    }
}
@media (max-width: 430px) {
    // button
    .time_1{
        padding-bottom: 0.4rem;
    }
    .time_2{
        padding-top: 0.4rem;
    }
}

@media (max-width: 900px) {
    // button
    .icon::before{
        display: none;
    }
    .icon::after{
        display: none;
    }
    .timeButton::before{
        display: none;
    }
    .timeButton::after{
        display: none;
    }
}

// 2K (2560x1440)
@media (min-width: 2560px){
    // roundBar
    .timer{
        width: 700px;
        height: 700px;
        margin-bottom: 2rem;
    }

    // button
    button{
        margin: 0 2.5rem;
    }
    .button{
        padding: 3rem 0;
    }
    .icon{
        font-size: 5rem;
        border: $neon_clr 10px solid;
        border-radius: 2rem;
        filter: drop-shadow(0 0 1rem $neon_clr);
    }
    .icon::before{
        top: 280%;
        transform: perspective(2rem) rotateX(30deg) scale(0.6, 0.25);
        filter: blur(5rem);
        opacity: 0.7;
    }
    .time{
        padding: 3rem 0;
    }
    .timeButton{
        font-size: 5rem;
        border: $neon_clr 10px solid;
        border-radius: 2rem;
        filter: drop-shadow(0 0 1rem $neon_clr);
    }
    .timeButton::before{
        transform: perspective(2rem) rotateX(30deg) scale(0.6, 0.25);
        filter: blur(5rem);
        opacity: 0.7;
    }
}

// 4K (4096x2160)
@media (min-width: 4096px){
    // roundBar
    .timer{
        width: 1200px;
        height: 1200px;
        margin-bottom: 4rem;
    }

    // button
    button{
        margin: 0 2.5rem;
    }
    .button{
        padding: 3rem 0;
    }
    .icon{
        font-size: 7rem;
        border: $neon_clr 12px solid;
        border-radius: 2rem;
        filter: drop-shadow(0 0 1rem $neon_clr);
    }
    .icon::before{
        top: 255%;
        transform: perspective(2rem) rotateX(30deg) scale(0.6, 0.25);
        filter: blur(5rem);
        opacity: 0.7;
    }
    .time{
        padding: 3rem 0;
    }
    .timeButton{
        font-size: 7rem;
        border: $neon_clr 12px solid;
        border-radius: 2rem;
        filter: drop-shadow(0 0 1rem $neon_clr);
    }
    .timeButton::before{
        transform: perspective(2rem) rotateX(30deg) scale(0.6, 0.25);
        filter: blur(5rem);
        opacity: 0.7;
    }
}

// 8K (7680x4320)
@media (min-width: 7640px){
    // roundBar
    .timer{
        width: 2200px;
        height: 2200px;
        margin-bottom: 5rem;
    }

    // button
    button{
        margin: 0 5rem;
    }
    .button{
        padding: 8rem 0;
    }
    .icon{
        font-size: 16rem;
        border: $neon_clr 35px solid;
        border-radius: 5rem;
        filter: drop-shadow(0 0 3rem $neon_clr);
}
    .icon::before{
        top: 260%;
        transform: perspective(3rem) rotateX(30deg) scale(0.6, 0.25);
        filter: blur(10rem);
        opacity: 0.7;
    }
    .time{
        padding: 3rem 0;
    }
    .timeButton{
        font-size: 16rem;
        border: $neon_clr 35px solid;
        border-radius: 5rem;
        filter: drop-shadow(0 0 3rem $neon_clr);
    }
    .timeButton::before{
        transform: perspective(3rem) rotateX(30deg) scale(0.6, 0.25);
        filter: blur(10rem);
        opacity: 0.7;
    }
}