.timer{
    margin-bottom: 1rem;
    width: 330px;
    height: 330px;
    dominant-baseline: middle;
    text-anchor: middle;
    fill: $main;
    stroke: $main;
    stroke-linecap: round;
}
.CircularProgressbar-path{
    stroke: $neon_clr_roundBar;
    filter: drop-shadow(0 0 0.25rem $neon_clr_roundBar);
    -webkit-transition: stroke-dashoffset 1s ease 0s;
    transition: stroke-dashoffset 1s;
}
.CircularProgressbar-trail{
    stroke: $neon_clr_roundBar;
    opacity: 0.1;
}
.CircularProgressbar-text{
    font-size: 16px;
    color: $main;
    text-shadow: 0 0 0.25rem $neon_clr_text;
    filter: drop-shadow(0 0 0.15rem $main);
}
.CircularProgressbar-background{
    r: 0;
}